{{ include('_head.twig') }}
<style>
    @media only screen and (max-width: 1000px) {
        .sheet-wrapper {
            background-image: url("/assets/bg/gen{{ pokemon['gen'] }}/page1.jpg");
        }
    }
</style>
<div class="sheet-wrapper">
    <div class="sheet page1">
        <div class="bg" style='background-image: url("/assets/bg/gen{{ pokemon['gen'] }}/page1.jpg");'>
            <div class="header" style='background-image: url("/assets/poke/{{ pokemon['_id'] }}/header.jpg");'></div>
            <img class="header-mobile" src="/assets/poke/{{ pokemon['_id'] }}/header.jpg">
            <div class="bg-ball" style='background-image: url("/assets/bg/stage{{ pokemon['stage'] }}/ball.png");'></div>
            {% if pic1_exists %}
            <div class="char-img-head">
                <img src="/assets/poke/{{ pokemon['_id'] }}/pic1.png">
            </div>
            {% endif %}
            <div class="content">
                <div class="content-inner">
                    {% if pic1_exists %}
                    <div class="char-img-head-mobile">
                        <img src="/assets/poke/{{ pokemon['_id'] }}/pic1.png">
                    </div>
                    {% endif %}
                    <h2 class="no-underline">
                        {{ pokemon['name'] }}: <span class="subheading">{{ pokemon['type1'] }} {% if pokemon['type2'] %} / {{ pokemon['type2'] }} {% endif %} Type</span>
                    </h2>
                    <p class="flavor hanging">{{ pokemon['stories'][0] }}</p>
                    <h2>{{ pokemon['heads'][0]['title'] }}</h2>
                    <p>{{ pokemon['heads'][0]['description'] }}</p>
                    <div class="bluebox bluebox-left">
                        <div class="bluebox--inner">
                            <h2>{{ pokemon['evotraits'][0]['title'] }}</h2>
                            <p>{{ pokemon['evotraits'][0]['description'] }}</p>
                        </div>
                    </div>
                    <h2>{{ pokemon['heads'][1]['title'] }}</h2>
                    <p>{{ pokemon['heads'][1]['description'] }}</p>
                    <h2>{{ pokemon['location']['title'] }}</h2>
                    <p>{{ pokemon['location']['description'] }}</p>
                    <h2>{{  pokemon['name'] }} Traits</h2>
                    <p>
                        <span class="inline-h3">Allignment:</span> {{ pokemon['alignment'] }}
                    </p>
                    <h3>Size</h3>
                    <p>
                        Height: {{ pokemon['height'] }}<br>
                        Weight: {{ pokemon['weight'] }}
                    </p>
                </div>
                <div class="footer">
                    <div class="pagenum">X</div>
                    <div class="artist"><strong>Pictures drawn by: <a href="{{ pokemon['artist_link'] }}">{{ pokemon['artist'] }}</a></strong></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sheet page2">
        <div class="bg" style='background-image: url("/assets/bg/gen{{ pokemon['gen'] }}/page2.jpg");'>
            <div class="bg-ball" style='background-image: url("/assets/bg/stage{{ pokemon['stage'] }}/ball.png");'></div>
            <div class="content">
                <div class="content-inner">
                    {% if pokemon['pic2_pos']|lower == 'top left' %}
                        <div class="char-img-inline">
                            <img src="/assets/poke/{{ pokemon['_id'] }}/pic2.png">
                        </div>
                    {% endif %}
                    <h3>Speed</h3>
                    <p>{{ pokemon['speed'] }}</p>
                    <h3>Age</h3>
                    <p>{{ pokemon['age'] }}</p>
                    <h3>Languages</h3>
                    <p>{{ pokemon['languages'] }}</p>
                    <h3>Nature</h3>
                    <p>
                        There are 30 natures, pick a nature that best describes your character.
                        Increase and decrease the appropriate stat accordingly.
                    </p>
                    <h3>Racial Ability score increase</h3>
                    <p>{{ pokemon['asi'] }}</p>
                    <h3>Evolution</h3>
                    <p>{{ pokemon['evolution'] }}</p>
                    <h2>{{ pokemon['name'] }} Names</h2>
                    <p>
                        Possible names for {{ pokemon['name'] }}
                    </p>
                    <p class="hanging">
                        {{ pokemon['names'] }}
                    </p>
                    {% if pokemon['pic2_pos']|lower == 'bottom left' %}
                    <div class="char-img-inline char-img-inline--bottom">
                        <img src="/assets/poke/{{ pokemon['_id'] }}/pic2.png">
                    </div>
                    {% endif %}
                    <h2 {% if pokemon['pic2_pos']|lower == 'bottom left' %}style="margin-top: 365px;"{% endif %} class="force-no-top-margin-mobile">
                        Abilities: <span class="subheading">Pick One</span>
                    </h2>
                    {% for ability in pokemon['abilities'] %}
                    <p class="hanging flavor">
                        <span class="inline-h3">{{ ability['name'] }}:</span>
                        {{ ability['flavor'] }}
                    </p>
                    <p class="ability-desc">
                        {{ ability['description'] }}
                    </p>
                    {% if false and ability['mega'] %}
                        <p class="ability-desc">
                            <span class="inline-h3">Mega:</span> {{ ability['mega'] }}
                        </p>
                    {% endif %}
                    {% endfor %}
                    {% if pokemon['pic2_pos']|lower == 'top right' %}
                        <div class="char-img-inline">
                            <img src="/assets/poke/{{ pokemon['_id'] }}/pic2.png">
                        </div>
                    {% endif %}
                    <h2>
                        Racial Attacks: <span class="subheading">Pick One</span>
                    </h2>
                    <h3>LV 1</h3>
                    {% for attack in pokemon['attacks'] %}
                    <p class="hanging book-entry">
                        <span class="book-entry--title"><a href="{{ attack['url'] }}" target="_blank">{{ attack['name'] }}</a></span>
                        <span class="book-entry--page">Pg XXXX</span>
                    </p>
                    {% endfor %}
                    {% if pokemon['attacks_l7'] %}
                    <h3>LV 7</h3>
                    {% for attack in pokemon['attacks_l7'] %}
                    <p class="hanging book-entry">
                        <span class="book-entry--title"><a href="{{ attack['url'] }}" target="_blank">{{ attack['name'] }}</a></span>
                        <span class="book-entry--page">Pg XXXX</span>
                    </p>
                    {% endfor %}
                    {% endif %}
                    <h2>Type Effectiveness</h2>
                    <p class="hanging">{{ pokemon['type_advantages'] }}</p>
                    <h2>Evolution Trait</h2>
                    <p><span class="inline-h3">{{ pokemon['evotraits'][1]['title'] }}: </span>{{ pokemon['evotraits'][1]['description'] }}</p>
                    <hr>
                    <p class="flavor hanging">{{ pokemon['stories'][1] }}</p>
                    {% if pokemon['pic2_pos']|lower == 'bottom right' %}
                        <div class="char-img-inline char-img-inline--bottom">
                            <img src="/assets/poke/{{ pokemon['_id'] }}/pic2.png">
                        </div>
                    {% endif %}
                </div>
                <div class="footer">
                    <div class="pagenum">X</div>
                    <div class="artist"><strong>Pictures drawn by: <a href="{{ pokemon['artist_link'] }}">{{ pokemon['artist'] }}</a></strong></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('_foot.twig') }}
