{{ include('_head.twig') }}
<div class="headnav">
    <div class="nav">
        <a class="button button-small" href="XXX">XXX<br>XXX</a>
    </div>
    <div class="current">
        <h1>{{ pokemon['name'] }}</h1>
        <p>
            <a class="button button-small" href="#" onclick="window.print();return false;">Print</a>
        </p>
    </div>
    <div class="nav">
        <a class="button button-small" href="XXX">XXX<br>XXX</a>
    </div>
</div>
<style>
    @media only screen and (max-width: 1000px) {
        .sheet-wrapper {
            background-image: url("/assets/bg/gen{{ pokemon['gen'] }}/page1.jpg");
        }
    }
</style>
<div class="sheet-wrapper">
    {{ content|raw }}
</div>
{{ include('_foot.twig') }}
