<div class="sheet {{ sheet_mod_class }}">
    <div class="bg" style='background-image: url("/assets/bg/gen{{ pokemon['gen'] }}/{{ sheet_mod_bg_name }}.jpg");'>
        <div class="bg-ball" style='background-image: url("/assets/bg/stage{{ pokemon['stage'] }}/ball.png");'></div>
        <div class="content">
            <div class="content-inner">
                {{ content|raw }}
            </div>
            {{ footer|raw }}
        </div>
    </div>
</div>
